<%- include('partials/header'); %>
<body>
  <div class="container-fluid">
      <h1><%=journalPost.title%></h1>
      <p><%=journalPost.postText%></p>
  </div>
</body>
<footer><%- include('partials/footer'); %></footer>
